<div class="toast align-items-center show bg-acrylic" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body d-flex justify-content-center align-items-center">
            <span class="badge bg-{{ type}} text-white me-2">{{ type }}</span>
            {{ message }}
        </div>
        <button type="button" class="btn btn-xs me-2 m-auto text-primary" data-bs-dismiss="toast" aria-label="Close">
            <i class="fa-solid fa-eye-slash"></i>
        </button>
    </div>
</div>