{{ form_start(form, {
    attr: {
        'data-turbo': true
    }
}) }}
<div class="d-flex justify-content-center align-items-center">
    <div class="mx-1 w-100">
        {{ form_row(form.year) }}
    </div>
    <div class="mx-1 me-0 w-auto d-flex">
        <button class="btn border-0" type="submit">
            <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
        </button>
    </div>
</div>

{{ form_end(form) }}