{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <div class="d-flex justify-content-end align-items-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}