parameters:
    level: max
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    paths:
        - src
        - tests
        - .php-cs-fixer.dist.php
    ignoreErrors:
        - message: '#^Property (.*) type has no value type specified in iterable type array.$#'
          path: src/
        - message: '#^Parameter (.*) callable#'
          path: src/
    excludePaths:
        - src/Shared/Command/ImportOlderDataCommand.php
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false