{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center text-primary mt-4 mb-2 mx-3">
        <div class="d-flex justify-content-start align-items-center">
            <span>Assignation</span>
        </div>
        <div class="me-3 text-end">Valeur</div>
    </div>

    <a class="btn btn-xs rounded-circle create-button d-flex justify-content-center align-items-center bg-gradient-accent text-white" href="{{ path('back_assignment_create') }}">
        <i class="fa-solid fa-wand-magic-sparkles"></i>
    </a>

    <ul class="list-group rounded">
        {% for assignment in assignments %}
            {% include 'domain/assigment/_item.html.twig' %}
        {% endfor %}
    </ul>
{% endblock %}