@import "../abstract/variables";

body {
  background:
    linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)),
    url("../../../public/img/bg.png") no-repeat center center;
  background-size: cover;
  height: 100dvh;

  main {
    overflow-y: auto;
  }
}

.rounded {
  border-radius: $border-radius;
}

.link-dotted {
  text-decoration-style: dotted;
  text-underline-offset: 0.275rem;
}
