@import "../abstract/variables";

body {
  background: url("../../../public/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;

  main {
    overflow-y: auto;
  }
}

.rounded {
  border-radius: $border-radius;
}