@use "sass:color";

$color-black: #122333;
$color-black-2: #272727;
$color-dark: $color-black-2;
$color-accent-1: #ffc500;
$color-accent-2: #ea7059;
$color-accent-3: #522f8d;
$color-white: #eee8d5;
$color-white-2: #eaeaea;
$color-red: #de5654;
$color-green: #0f0;
$color-black-light-5: color.adjust($color-black, $lightness: 5%);
$color-black-light-15: color.adjust($color-black, $lightness: 15%);
$color-black-light-30: color.adjust($color-black, $lightness: 30%);
$color-white-dark-45: color.adjust($color-white, $lightness: -45%);
$color-black-transparent-high: color.adjust($color-black, $lightness: 3%);
$color-white-transparent-10: rgba($color-white, 0.1);
$color-white-transparent-25: rgba($color-white, 0.25);
$color-white-transparent-30: rgba($color-white, 0.3);
$color-black-transparent-10: rgba($color-black, 0.1);
$gradient-accent: linear-gradient(-45deg, $color-accent-1, color.adjust($color-accent-2, $lightness: -10%));
$border-radius: 0.5rem;
