{% import 'shared/_currency.macro.html.twig' as currency %}

<div class="card bg-gradient-accent text-white">
    <div class="card-body p-0">
        <div class="text-center my-3">
            <span class="text-white-50">Balance</span>
            <h3 class="m-0">{{ currency.amount(entryBalance.total, false) }}</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center bg-dark bg-opacity-10 py-2">
            <div class="d-flex justify-content-start align-items-center flex-column w-100 border-end border-white border-opacity-50">
                <span class="text-white-50">Dépense</span>
                <small>{{ currency.amount(entryBalance.totalSpent, false) }}</small>
            </div>
            <div class="d-flex justify-content-start align-items-center flex-column w-100">
                <span class="text-white-50">Provision</span>
                <small class="text-white">{{ currency.amount(entryBalance.totalForecast, false) }}</small>
            </div>
        </div>
    </div>
</div>