@import "assets/styles/vendor/bootstrap_configuration";

.bugr {
  .progress-status {
    &.has-more-save {
      color: $primary;
    }

    &.is-soon-full {
      color: $warning;
    }

    &.is-full {
      color: $green;
    }

    &.is-over {
      color: $danger;
    }
  }

  .progress-bar {
    min-width: 2rem;

    &.has-more-save {
      background: $blue;
    }

    &.is-in-progress {
      background: $color-accent-3;
    }

    &.is-soon-full {
      background: $warning;
    }

    &.is-full {
      background: $color-green-dark-10;
    }

    &.is-over {
      background: $danger;
    }
  }
}
