{% macro amount(amount, color = 'true', disable = 'false') %}
    {% set class = (amount >= 0 )
        ? 'text-success'
        : 'text-danger' %}
    {% set class = (disable == 'true')
        ? 'text-secondary'
        : class
    %}

    <span class="{{ color == 'true' ? class : '' }}">{{ amount | currency}}</span>
{% endmacro %}

{% macro progress(amount, status, color = 'true') %}
    <span class="progress-status {{ color == 'true' ? status : '' }}">{{ amount | currency }}</span>
{% endmacro %}